.arrows__icon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:330px;
    left: 0;
    right: 0;
    z-index: 10;
}

.wave__img {
    position: absolute;
    margin-top: 651px;
    width: 100%;
}
.manager__box {
    display: flex;
    flex-direction: row;
}