.manager_description__div {
    margin-top: 1070px;
    margin-left: 10%;
    z-index: 10;
    .quote__item{
        display: flex;
        align-items: center;
    }
    .quote__element {
        font-size: 40px;
    }
}