.worker__div {
    margin-top: 150px;
    background-color: rgba(21, 50, 80, 1);
    background-image: linear-gradient(120deg, rgba(21, 50, 80, 1) 0%, rgba(70, 70, 84, 1) 100%);
    // margin-left: 50%;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: flex-end;
    .worker__form {
        display: flex;
        flex-direction: column;
        width: 330px;
        margin-right: 40%;
        .description__box {
            display: flex;
        }
        .lang__select {
            padding: 10px 10px 0px 10px;
            width: 307px;
            height: 35px;
        }
    }
    .popup__box1 {
        position: absolute;
        pointer-events: none;
        width: 300px;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        right: 12%;
        top: 1930px;
        opacity: 0.9;
        transition: 1s ease-in-out;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
}