.worker_description__div {
    width: 50%;
    margin-top: 300px;
        .quote__item{
            display: flex;
            align-items: center;
        }
        .quote__element {
            font-size: 40px;
        }
}