.chatBox__div {
    height: 500px;
    width: 500px;
    border: 1px solid gray;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    background-color: white;
    .message_center__div {
        display: flex;
        justify-content: center;
        width: 500px;
    }
    .sending__div {
        position: absolute;
        top:640px;
        width: 500px;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        .chatMessage__input {
            width: 300px;
            height: 40px;
            font-size: 20px;
            border: none;
            border-radius:10px;
            padding-left: 10px;
            background-color: rgb(219, 218, 218);
        }
    }
    .messages__div {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 400px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 15px;
        width: 400px;
        scrollbar-width: auto;
        scrollbar-color: #8f54a0 #ffffff;
    }
      /* Chrome, Edge, and Safari */
    .messages__div::-webkit-scrollbar {
        width: 16px;
      }
    
    .messages__div::-webkit-scrollbar-track {
        background: #ffffff;
    }
    
    .messages__div::-webkit-scrollbar-thumb {
        background-color: #8f54a0;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }
    .chatBox_error__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 65px;
        font-weight: bold;
        font-size: 30px;
    }
}