.buttonsGroup__div {
    text-align: center;
    .buttonsGroup_inside__div{
        .button__edit {
            width: 80px;
            margin: 40px;
        }
    }
}
.tile__block.edit {
    margin-top: 0px;
}
.popup__box {
    position: absolute;
    pointer-events: none;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    left: 50%;
    bottom: 140px;
    opacity: 0.9;
    transition: 1s ease-in-out;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.description__box {
    text-align: center;

}
.edit__box {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    left: 0;
    right: 0;
    width: 400px;
    padding: 60px 20px 60px 20px;
    border-radius: 20px;
    height: 270px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    .safe__button {
        width: 100px;
        margin-right: 200px;
        margin-top: 20px;
    }
}

.lang__div {
    display: flex;
    justify-content: center;
    .lang__select {
        width: 300px;
    }
    .mySelect__value-container{
        height: 70px;
    }
}

.goBack_edit__button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 600px;
}