.blacked__div {
    position: absolute;
    background-color: var(--bodyColor);
    transition: 0.5s ease-in-out;
    pointer-events: var(--pointerEvents);
    z-index: 10;
    height: 100%;
    width: 100%;
}