.navbar__div {
    padding:30px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 5px 27px -1px rgba(84, 84, 84, 1);
    background-color: #ffffff;
    z-index: 10;
    .name__span {
        font-size: 35px;
        font-weight: bold;
        text-decoration: none;
        color: rgb(94, 62, 121,0.9);
    }
    .link__home {
        text-decoration: none;
    }
}